@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
*, *::before, *::after {
  scroll-behavior: smooth;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: x-space;
  src: url(../fonts/XspaceRegular.ttf);
}
@font-face {
  font-family: electrolize;
  src: url(../fonts/Electrolize-Regular.ttf);
}
@font-face {
  font-family: code;
  src: url(../fonts/CODE\ Light.otf);
}
body {
  background-color: #0d1117;
}
body h1 {
  text-align: center;
  color: #46b6ff;
  pointer-events: none;
  transition: color ease 1s;
  text-transform: uppercase;
}
body h2 {
  color: #137ade;
  pointer-events: none;
}
body h3 {
  color: #137ade;
  pointer-events: none;
}
body h4 {
  color: #137ade;
  pointer-events: none;
}
body p {
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
body ul {
  list-style-type: none;
  color: rgba(255, 255, 255, 0.5);
}
body a {
  color: #7ee787;
  transition: color ease 1s;
}
body a:hover {
  color: #549a5a;
}
body #projects p {
  color: rgb(185, 183, 183);
}
body span {
  color: white;
  cursor: pointer;
  transition: color ease 1s;
}
body span:hover {
  color: #7ee787;
}

#top-bar {
  font-family: x-space;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
#top-bar .container {
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
#top-bar .container .logo {
  font-size: 30px;
}
#top-bar .container .logo .img {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
#top-bar .container .logo img {
  display: block;
  width: 32px;
}
#top-bar .nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
#top-bar .nav-links ul li {
  margin: 0 5px 0 5px;
  font-family: "Courier New", Courier, monospace;
}
#top-bar .nav-links button {
  display: none;
}

#hero {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}
#hero .container {
  margin-top: 30vh;
  margin-left: 5em;
  margin-right: 5em;
  line-height: 2.5em;
}
#hero .container img {
  height: 200px;
  width: 200px;
  border: 1em solid;
  border-color: rgba(134, 134, 134, 0.1);
  border-radius: 50%;
  pointer-events: none;
}

.sub {
  height: 300px;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
  padding-top: 56px;
}
.sub h1 {
  font-size: 40px;
  font-family: x-space;
  color: white;
  text-align: center;
  text-shadow: 0 0 8px #7ee787;
}

#administration {
  font-family: electrolize;
  text-align: center;
  background-color: rgba(189, 211, 230, 0.1);
}
#administration .container {
  padding: 50px 0;
}
#administration .container ul {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
#administration .container ul li {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10px;
  padding: 25px 50px;
  border-radius: 10px;
  transition: background-color ease 0.5s;
}
#administration .container ul li img.officer-img {
  height: 200px;
  border: solid;
  border-radius: 10%;
}
#administration .container ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#about, #preamble, #principle, #provitions {
  font-family: electrolize;
  margin: 50px 0;
}
#about .container, #preamble .container, #principle .container, #provitions .container {
  padding: 0 5%;
}
#about .container ul, #preamble .container ul, #principle .container ul, #provitions .container ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
#about .container p, #preamble .container p, #principle .container p, #provitions .container p {
  margin-top: 25px;
}

#contact {
  font-family: electrolize;
  background-color: rgba(0, 0, 0, 0.3);
}
#contact .container {
  display: flex;
  flex-direction: row;
  flex: 50%;
  justify-content: space-evenly;
  padding: 20px 0;
}
#contact .container ul {
  padding: 20px 20px;
  border-radius: 5px;
}
#contact .container ul li {
  margin: 8px 0;
}

#footer {
  font-family: electrolize;
  text-align: center;
  background-color: black;
  display: block;
  padding: 16px 8px;
}
#footer p {
  font-size: smaller;
}

#hero {
  height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#particles {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -9999;
  pointer-events: none;
}

.loader {
  position: absolute;
  color: white;
  font-family: code;
  font-weight: bolder;
  letter-spacing: 0.3em;
  left: 50%; /* Center the loader horizontally */
  transform: translateX(-50%); /* Center the text within the loader */
}
.loader:after {
  content: "";
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: hsl(240, 20%, 20%);
  position: fixed;
  z-index: -999;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 0.8;
}

#mobile-menu {
  display: none;
}

@media (max-width: 720px) {
  #top-bar .container {
    padding: 0;
    -webkit-backdrop-filter: saturate(150%) blur(8px);
            backdrop-filter: saturate(150%) blur(8px);
  }
  #top-bar .container .logo {
    padding: 10px 8px 10px 16px;
  }
  #top-bar .nav-links ul {
    display: none;
  }
  #top-bar .nav-links button {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 56px;
    height: 56px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    background: black;
    padding: 12px;
  }
  #top-bar .nav-links button > div {
    height: 4px;
    background: white;
  }
  #mobile-menu {
    display: block;
    position: fixed;
    top: 56px;
    left: 60px;
    right: 0px;
    bottom: 0;
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
    background: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: saturate(150%) blur(8px);
            backdrop-filter: saturate(150%) blur(8px);
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    padding: 32px 16px;
    z-index: 100;
  }
  #mobile-menu.open {
    transform: translateX(0);
  }
  #mobile-menu ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }
  #mobile-menu ul li {
    margin: 0;
    padding: 0;
  }
  #hero {
    height: 100vh;
  }
  .sub {
    height: 200px;
  }
  .sub h1 {
    font-size: 28px;
  }
}/*# sourceMappingURL=style.css.map */